**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
*.plan
crash.log
crash.*.log
.terraformrc
terraform.rc
*.auto.tfvars
*.auto.tfvars.json
*.tfvars
!*.tfvars.example
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
lambda-packages/
artifacts/
.env
.env.*
!.env.example
